:root {
    --primary-text-color: #2E2F42;
    --title-text-colour: #434455;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}
li {
    list-style-type: none;
}
.logostyle{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logostyle > span{
    color: #4D5AE5;
}
.navigation li a{
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.navigation li a:hover
.navigation li a:focus{
    color: #404BBF;
    text-decoration: underline #404BBF;
}
.address a{
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.address a:hover
.address a:focus{
    color: #404BBF;
}
.filter button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background: #F4F4FD;
            border: 1px solid #E7E9FC;
            border-radius: 4px;
}
.filter button:hover,
.filter button:focus{
    background: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
}
.section h3{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.section img{
    mix-blend-mode: normal;
}
footer{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        background: var(--primary-text-color);
}
.section-h1{
    background: var(--primary-text-color);
    color: #FFFFFF;
}
.section-h1 h1{
    font-weight: 700;
        font-size: 56px;
        line-height: calc(60/56);
        text-align: center;
        letter-spacing: 0.02em;
}
.section-h1 button{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background: #4D5AE5;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.section-h2 h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-h2 p{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.whatdoing h2{
    font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.whatdoing img{
    border: 1px solid #E7E9FC;
}
.team h2{
    font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.team img{
    mix-blend-mode: normal;
}
.team h3{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
}
.team p{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
header{
    border-bottom: 1px solid #E7E9FC;
}